---
http_interactions:
- request:
    method: post
    uri: https://api.sendbird.com/messaging/invite
    body:
      encoding: UTF-8
      string: '{"channel_url":"jiver_group_messaging_AFD73870-2585-41C9-8E7F-D2A494BEC71A_e1ba77cca364b3d48cc6744550ea798113cf285c","user_ids":["user_12345"],"auth":"9d2e4c2d8a295ef883f5444775781c5bf59527d7"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"channel":{"channel_url":"jiver_group_messaging_AFD73870-2585-41C9-8E7F-D2A494BEC71A_e1ba77cca364b3d48cc6744550ea798113cf285c"}}'
  recorded_at: Wed, 27 Jan 2016 06:30:27 GMT
recorded_with: VCR 3.0.1
