---
http_interactions:
- request:
    method: post
    uri: https://api.sendbird.com/user/create
    body:
      encoding: UTF-8
      string: '{"id":null,"nickname":null,"auth":"9d2e4c2d8a295ef883f5444775781c5bf59527d7"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"message":"id is required.","error":true}'
  recorded_at: Tue, 26 Jan 2016 13:55:15 GMT
recorded_with: VCR 3.0.1
