---
http_interactions:
- request:
    method: post
    uri: https://api.sendbird.com/user/create
    body:
      encoding: UTF-8
      string: '{"id":"user_12345","nickname":"Etienne","auth":"9d2e4c2d8a295ef883f5444775781c5bf59527d7"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"picture":"https:\/\/sendbird.com\/main\/img\/profiles\/profile_18_512px.png","user_id":4510356,"access_token":"","nickname":"Etienne","id":"user_12345"}'
  recorded_at: Tue, 26 Jan 2016 08:56:51 GMT
recorded_with: VCR 3.0.1
